.result__text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #2d2d2d;
}

.result__panel {
    padding: 2rem 1rem;
    background: #F9F9F9;
    border: #ABABAB;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ABABAB;
    border-radius: 1.5rem;
}

.result__panel-text {
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 4.48px;
    line-height: 1.06rem;
    text-transform: uppercase;
    color: #595855;
    margin-bottom: 1rem;
    display: block;
}

.result__panel-value {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


.info__label {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2.0;
    line-height: 1.18rem;
    text-transform: uppercase;
}

.info__value {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.56rem;
}

.info__text {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: #6A6A6A;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.info__date {
    display: block;
    margin-top: 1.5rem;
}