.result__text {
  color: #2d2d2d;
  margin-bottom: 2rem;
}

.result__panel {
  padding: 2rem 1rem;
  background: #f9f9f9;
  border: #ababab;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ababab;
  border-radius: 1.5rem;
}
.result__panel-image-container {
  display: flex;
}
.result__panel-image--arca {
  width: 6rem;
  height: 1.06rem;
}

.result__panel-text {
  color: #595855;
  margin-bottom: 1rem;
  display: block;
}

.result__divider {
  display: inline-block;
  width: 100%;
  height: 6px;
  background-color: #33e5b0;
  border-radius: 10px;
  margin: 2rem auto;
}

.info__list {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}

.tax__label {
  padding: 1rem 0;
}

.info__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.25rem;
}
.tax__value {
  text-transform: lowercase;
}

.info__text {
  display: inline-block;
  color: #6a6a6a;
}

.info__date {
  display: block;
  margin-top: 1.5rem;
}

@media screen and (min-width: 40rem) {
  .result__text {
    margin-bottom: 1.5rem;
  }

  .result__panel-image--arca {
    width: 7rem;
    height: 2rem;
  }

  .result__divider {
    margin: 3rem auto;
  }

  .info_list {
    gap: 2.81rem;
    margin-bottom: 3rem;
  }
}
